:root {
  --background-color: #FAFAFA;
  --highlight-color: rgba(0,127,255,0.075);
  --noble-background-color: #DDD;
  --border-color: #AAA;
  --light-border-color: #EEE;
}
body {
  background-color: var(--background-color);
  font-family: sans-serif;
  margin: 0;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.75em;
  background-color: var(--highlight-color);
  border-bottom: 1px solid var(--border-color);
}

/* index-specific bits */

.gametable {
  border-collapse: collapse;
}
.gametable tr:nth-child(even) {
  background-color: var(--light-border-color);
}
.gametable th {
  background-color: var(--highlight-color);
  border-bottom: 1px solid var(--border-color);
  padding: 1em;
}
.gametable td {
  text-align: center;
  padding: 1em 2em;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 15em;
  padding: 0.7em;
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* game-specific bits */

.left-pane {
  height: 100%;
  overflow-y: auto;
  min-width: 10em;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-pane {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-pane {
  height: 100%;
  overflow-y: auto;
  min-width: 15em;
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noble {
  width: 4.2em;
  height: 4.2em;
  margin: 0.7em;
  border-radius: 0.25em;
  background-color: var(--noble-background-color);
  display: flex;
  flex-direction: row;
}
.noble .info {
  padding: 0.2em;
  border-radius: 0.25em 0 0 0.25em;
  background-color: var(--light-border-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.noble .points {
  font-weight: bold;
}
.noble .cost {
  width: 1em;
  font-size: 0.6em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25em;
  padding-top: 0.1em;
  margin-top: 0.1em;
}

.player {
  margin: 1.5em 1.2em 0;
}
.player .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--border-color);
}
.player .id {
  font-weight: bold;
}

.card {
  width: 3.8em;
  height: 5.2em;
  margin: 0.7em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
}
.card .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
  border-radius: 0.25em 0.25em 0 0;
  background-color: rgba(255, 255, 255, 0.4);
}
.card .points {
  font-weight: bold;
}
.card .gem {
  width: 0.6em;
  height: 0.6em;
  border-width: 1px;
  border-style: solid;
  transform: rotate(45deg);
}
.card .info {
  height: 100%;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}
.card .cost {
  width: 1em;
  font-size: 0.6em;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25em;
  padding-top: 0.1em;
  margin-top: 0.1em;
}
.buyable:hover {
  box-shadow: 2px 2px gold, 2px -2px gold, -2px 2px gold, -2px -2px gold;
}

.pcard {
  width: 1.3em;
  height: 1.75em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25em;
  text-align: center;
}
.pcard .num {
  width: 1.3em;
  height: 1.75em;
  display: table-cell;
  vertical-align: middle;
}

.coin {
  margin: 0.5em;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
.player .coin {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.coin .num {
  width: 2em;
  height: 2em;
  display: table-cell;
  vertical-align: middle;
}
.player .coin .num {
  font-size: 0.7em;
}

/* colors */

.red {
  color: white;
  border-color: var(--light-border-color);
  background-color: red;
}
.blue {
  color: white;
  border-color: var(--light-border-color);
  background-color: blue;
}
.green {
  color: white;
  border-color: var(--light-border-color);
  background-color: green;
}
.black {
  color: white;
  border-color: var(--light-border-color);
  background-color: black;
}
.white {
  color: black;
  border-color: black;
  background-color: white;
}
.wild {
  color: black;
  border-color: black;
  background-color: gold;
}

.redcard {
  background-color: #F0C0C0;
  border: 1px solid #FAFAFA;
}
.bluecard {
  background-color: #C0E0F0;
  border: 1px solid var(--light-border-color);
}
.greencard {
  background-color: #B0F0B0;
  border: 1px solid #FAFAFA;
}
.blackcard {
  background-color: #999;
  border: 1px solid #FAFAFA;
}
.whitecard {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
}

/* common utility bits */

html, body, .full-height {
  height: 100%;
  overflow-y: hidden;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.button {
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  margin: 0.2em;
}
.hidden {
  opacity: 0;
}